<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="hotro.css">
</head>
<body>
    <header>
        <div class="row">
            <div class="top container">
               <div class="header">
                <div class="header-left">
    <img src="./img/Frame 24.png" alt="" width="100%" height="100%">
                </div>
                <div class="header-center">
     <main>
        <ul>
            <li>TRANG CHỦ</li>
            <li>GIỚI THIỆU</li>
            <li>HỖ TRỢ</li>
        </ul>
     </main>
                </div>
                <div class="col-8 header-right">
     <div class="input">
        <input type="submit" value="DOWNLOAD" >
     </div>
                </div>
               </div>
            </div>
        </div>
    </header>
    <main>
        <div class="row">
            <div class="top containi">
              <h3>Hỗ trợ</h3>
              <hr>
             <div class="div-flex">
                <div class="arcile-lh">
        <div class="noi-dung-arcile-lh">
           <div class="thongtin3">
             
               <input type="text" name="" id="ttt"  placeholder="Nhập tên">
           </div>
           <div class="thongtin3">
               
               <input type="text" name="" id="ttt"  placeholder="Nhập số điện thoại">
           </div>
           <div class="thongtin3">
              
               <input type="text" name="" id="ttt"  placeholder="Nhập Email">
           </div>
           <div class="thongtin3">
              
               <input type="text" name="" id="tttt"  placeholder="Nhập tin nhắn ">
           </div>
        </div>
                </div>
                <div class="acile-lh">
        <div class="noi-dung-acile-lh">
           <div class="tieudelh">
               <h3>Thông tin liên hệ</h3>
           </div>
           
            <hr>
            <div class="div-acicle-lh">
               
              <div class="noidung-lh"> <i class="fa-solid fa-location-dot"></i>  Địa chỉ : Thành phố Hồ Chí Minh </div>
              <div class="noidung-lh"> <i class="fa-solid fa-phone"></i>  Số điện thoại : 0372104288 </div>
              <div class="noidung-lh"> <i class="fa-solid fa-envelope"></i>  Email : talasoaica234@gamil.com </div>
              
               
                    
            </div>
           
        
        </div>
                </div>
             </div>
            </div>
          </div>
    </main>
    <footer>
        <div class="noidung">
            <div class="row">
                <div class="top container">
                    <div class="iconft">
                        <img src="img/facebook.png" width="30px">
                        <img src="img/youtube.png" width="30px">
                        <img src="img/tiktok.png" width="30px">
                    </div>
                    <img src="img/logo.png" width="70px">
                    <p>infinite studio. ĐỊa chỉ :47/10C Tô Ký, Phường Trung Mỹ Tây, Quận 12, TP Hồ Chí Minh</p>
                    <div class="dieukhoan">
                        <a href="chinhsachbaomat.html">Chính sách bảo mật </a>
                        <a href="dieukhoansudung.html"> Điều khoản dịch vụ</a>
                        <a href="chinhsachquyenriengtu.html">Chính sách quyền riêng tư</a>
                    </div>
                    <h3>© Copyright by InnovativeFighterForce.id.vn .All Rights Reserved.</h3>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>