<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="mapchitiet.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One:ital@0;1&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div class="row">
            <div class="top container">
               <div class="header">
                <div class="header-left">
    <img src="./img/Frame 24.png" alt="" width="100%" height="100%">
                </div>
                <div class="header-center">
     <main>
        <ul>
            <li>TRANG CHỦ</li>
            <li>GIỚI THIỆU</li>
            <li>HỖ TRỢ</li>
        </ul>
     </main>
                </div>
                <div class="col-8 header-right">
     <div class="input">
        <input type="submit" value="DOWNLOAD" >
     </div>
                </div>
               </div>
            </div>
        </div>
    </header>
    <main>
        <div class="row">
            <div class="top container">
                <h1 class="h1namemap">Đảo trên không</h1>
                <div class="anhchitiet">
                    <img src="img/Frame 32.png" width="100%" height="100%">
                </div>
                <p class="chitiet-tt">Một hòn đảo cổ nơi các thân linh từng ngự trị ở đây khi các chiến binh đang tìm kiếm một vật gì đó thì đụng chạm nhau và xảy ra cuộc chiến vô cùng khốc liệt.</p>
                <div class="row">
                    <div class="top container">
                        <div class="container-bd">
                            <h2 class="bd">Bản đồ <i class="fa-solid fa-chevron-right fa-sm" style="color: #261A1A;"></i></h2>
            
                            <div class="data">
                                <div class="bd-sp">
            <div class="img-bd"><img src="./img/Frame 32.png" alt="" width="100%" height="100%"></div>
            <div class="list-bd">
                <h3 class="ten-bd"><i>Đảo Trên Không</i></h3>
                <p class="xem-them">Xem thêm</p>
            </div>
                                </div>
            
                            <div class="bd-sp">
                                <div class="img-bd"><img src="./img/Frame 32.png" alt="" width="100%" height="100%"></div>
                                <div class="list-bd">
                                    <h3 class="ten-bd"><i>Đảo Trên Không</i></h3>
                                    <p class="xem-them">Xem thêm</p>
                                </div>
                                                    </div>
                            <div class="bd-sp">
                                <div class="img-bd"><img src="./img/Frame 32.png" alt="" width="100%" height="100%"></div>
                                <div class="list-bd">
                                    <h3 class="ten-bd"><i>Đảo Trên Không</i></h3>
                                    <p class="xem-them">Xem thêm</p>
                                </div>
                                                    </div>
                            <div class="bd-sp">
                                <div class="img-bd"><img src="./img/Frame 32.png" alt="" width="100%" height="100%"></div>
                                <div class="list-bd">
                                    <h3 class="ten-bd"><i>Đảo Trên Không</i></h3>
                                    <p class="xem-them">Xem thêm</p>
                                </div>
                                                    </div>
                            </div>
                        </div>
                    </div>
                   </div> 
            </div>
        </div>
    </main>
    <footer>
        <div class="noidung">
            <div class="row">
                <div class="top container">
                    <div class="iconft">
                        <img src="img/facebook.png" width="30px">
                        <img src="img/youtube.png" width="30px">
                        <img src="img/tiktok.png" width="30px">
                    </div>
                    <img src="img/logo.png" width="70px">
                    <p>infinite studio. ĐỊa chỉ :47/10C Tô Ký, Phường Trung Mỹ Tây, Quận 12, TP Hồ Chí Minh</p>
                    <div class="dieukhoan">
                        <a href="chinhsachbaomat.html">Chính sách bảo mật </a>
                        <a href="dieukhoansudung.html"> Điều khoản dịch vụ</a>
                        <a href="chinhsachquyenriengtu.html">Chính sách quyền riêng tư</a>
                    </div>
                    <h3>© Copyright by InnovativeFighterForce.id.vn .All Rights Reserved.</h3>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>