

  .product-up{
    height: 90vh;
    overflow: auto;
  width: 100%;
    background-color: #fff;
    position: relative;
    padding: 10px;
  }

  .hh {
width: 12px;
border: 1px solid rgba(55, 54, 54, 0.612);
height: 10px;
padding-right:10px;

  }
  